$stageWidth:750;
@mixin center($width: null, $height: null) {
    position: absolute;
    top: 50%;
    left: 50%;
    @if not $width and not $height {
        transform: translate(-50%, -50%);
    }
    @else if $width and $height {
        width: $width;
        height: $height;
        margin: -($width / 2) #{0 0} -($height / 2);
    }
    @else if not $height {
        width: $width;
        margin-left: -($width / 2);
        transform: translateY(-50%);
    }
    @else {
        height: $height;
        margin-top: -($height / 2);
        transform: translateX(-50%);
    }
}

@function px($px:$stageWidth) {
    @return $px/$stageWidth*10+rem;
}
@function centerleft($px:$stageWidth) {
    @return (($stageWidth - $px)/2)/$stageWidth*100+0%;
}
@mixin po($width, $left, $top) {
    position: absolute;
    width: $width+px;
    left: $left+px;
    top: $top+px;
}
@mixin pop_($alpha:0.8, $color:#000) {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $alpha);
    z-index: 10;
    display: none;
}
html {
    width: 100%;
    height: 100%;
    background: #fff;
}
body {
    height:100%;
    width:100%;
    overflow: hidden;
    background-size:cover;
}
@mixin fullpage_abs() {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wp {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include center;
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1.5s ease-in;
}
.t1_tips {
    position: absolute;
    bottom: 13%;
    width: 100%;
    opacity: 0;
    animation: tips_dong 1s 5s both;
    margin-top: 38px;
}
.tips_img {
    width: 30px;
    position: absolute;
    // left: centerleft(39);
    left: 53.4%;
    background-size: 100% auto;
    z-index: 100;
    animation: jiantoudong 1.5s 0s infinite;
}
.pop {
    @include pop_();
    top: 0;
    .share_img {
        margin-top: .8rem;
    }
}
#music_ctrl_id{
    position: absolute;
    width:px(50);
    height:px(50);
    top: 0.17333rem;
    right: 0.36rem;
    z-index: 1;
    background: url(../images/music_ico.png?v=1) 0 center/100% auto;
}
.m_btn_on{
    animation:m_btn_on 3s linear 0s both infinite;
}
.m_btn_off{
    animation:none;
}
html{
    font-size: 75px;
}
body{
    // background: #000;
}
.wp{
    //left: 50%;
    //transform: translateX(-50%);
}
.ju_center{
    @include center();
    width: 100%;
    height: 1204px
}
.logo{
    @include po(284,48,42);
}